jdk-*-linux*.bin
i586-jdk
x64-jdk
tmp-i586
tmp-x64
tmp-jdk.zip

debian/JAVA_HOME
debian/README.alternatives
debian/sun-java6-jre.README.Debian

debian/files
debian/ia32-sun-java6-bin
debian/sun-java6-bin
debian/sun-java6-demo
debian/sun-java6-fonts
debian/sun-java6-javadb
debian/sun-java6-jdk
debian/sun-java6-jre
debian/sun-java6-plugin
debian/sun-java6-source

*-stamp
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/*.prerm
debian/*.postinst
debian/*.postrm
debian/*.applications
debian/*.keys
debian/*.overrides
debian/*.menu
debian/*.mime
debian/*.links
debian/*.desktop
debian/*.defoma-hints
debian/*.doc-base
