jdk-*-linux-*.tar.gz
UnlimitedJCEPolicyJDK*.zip
i586-jdk
x64-jdk
tmp-i586
tmp-x64
UnlimitedJCEPolicy

debian/JAVA_HOME
debian/README.alternatives
debian/oracle-java7-jre.README.Debian

debian/files
debian/oracle-java7-bin
debian/oracle-java7-fonts
debian/oracle-java7-javadb
debian/oracle-java7-jdk
debian/oracle-java7-jre
debian/oracle-java7-plugin
debian/oracle-java7-source

*-stamp
debian/control.old
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/*.prerm
debian/*.postinst
debian/*.postrm
debian/*.applications
debian/*.keys
debian/*.overrides
debian/*.menu
debian/*.mime
debian/*.links
debian/*.desktop
debian/*.defoma-hints
debian/*.doc-base
debian/*.tmp
